<!DOCTYPE html PUBLIC
 "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>$WikiTitle {$Group}/{$Titlespaced}</title>
	<link href="$SkinDirUrl/base.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">g_DefaultStyle="$skittlish_DefaultStyle";</script>
	<script type="text/javascript" src="$SkinDirUrl/app.js"></script>
<!--[if IE]>
<link href="$SkinDirUrl/base_ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--HTMLHeader-->
</head>

<body class="$skittlish_Style">
<script type="text/javascript">
//<![CDATA[
	loadPreferences()
//]]>
</script>

	<div id="wrapper">
		<!--PageHeaderFmt-->
		<div id="header" class="clearfix">
			<div id="siteheader" class="clearfix">
				<!--wiki:{$Group}.SiteHeader {$SiteGroup}.SiteHeader -->
			</div>

			<!--PageTabsFmt-->
			<div id="menu">
				<!--wiki:{$Group}.SiteNav {$SiteGroup}.SiteNav -->
			</div>
			<!--/PageTabsFmt-->
		</div>
		<!--/PageHeaderFmt-->

		<div id="contentwrapper" class="clearfix">
			<div id="content">
				<div id="innerwrapper">
					<!--PageTitleGroupFmt-->
					<a href='{$ScriptUrl}/{$Group}' class="pagegroup">{$Group}</a>
					<!--/PageTitleGroupFmt-->
					<!--PageTitleFmt-->
					<h2 class='title'><a href='{$PageUrl}'>{$Titlespaced}</a></h2>
					<!--/PageTitleFmt-->

					<!--PageText-->
				</div>
			</div>

			<div id="sidebar">
			<!--PageLeftFmt-->
				<!--PageSearchFmt-->
				<div class="boxy short">
					<div id="search">
						<h3>$[Search]</h3>

						<form id="searchform" action='$ScriptUrl' method="get">
						<fieldset>
							<input type='hidden' name='n' value='{$FullName}' />
							<input type='hidden' name='action' value='search' />
							<input class='searchBox' type='text' id='q' name='q' value="" />
							<input class='searchButton' type='submit' value='$[Go]' />
						</fieldset>
						</form>
					</div>
				</div>
				<!--/PageSearchFmt-->

				<div class="boxy tall">
					<!--wiki:{$Group}.SideBar {$SiteGroup}.SideBar-->
				</div>
			<!--/PageLeftFmt-->
			</div>
		</div>

		<div id="options-container">
			<!--PageOptionsFmt-->
			<div id="options">
				<h2>$[Options:]</h2>
				<ul id="option_size">
					<li title="size: fixed" id="option_size_fixed" class="fixed"><a><span>$[fixed]</span></a></li>
					<li title="size: fluid" id="option_size_fluid" class="fluid"><a><span>$[fluid]</span></a></li>
				</ul>

				<ul id="option_color">
					<li title="color: orange" id="option_color_orange" class="orange"><a><span>$[orange]</span></a></li>
					<li title="color: blue" id="option_color_blue" class="blue"><a><span>$[blue]</span></a></li>
					<li title="color: green" id="option_color_green" class="green"><a><span>$[green]</span></a></li>
					<li title="color: pink" id="option_color_pink" class="pink"><a><span>$[pink]</span></a></li>
					<li title="color: cyan" id="option_color_cyan" class="cyan"><a><span>$[cyan]</span></a></li>
					<li title="color: red" id="option_color_red" class="red"><a><span>$[red]</span></a></li>
					<li title="color: violet" id="option_color_violet" class="violet"><a><span>$[violet]</span></a></li>
				</ul>
			</div>
			<!--/PageOptionsFmt-->

			<!--PageActionFmt-->
			<div class="pageactions">
				<!--wiki:{$Group}.PageActions {$SiteGroup}.PageActions-->
			</div>
			<!--/PageActionFmt-->
		</div>

		<div id="footer">
			<!--PageFooterFmt-->
				<div class="footer"><!--wiki:{$Group}.SiteFooter {$SiteGroup}.SiteFooter--></div>
			<!--/PageFooterFmt-->
			<p id="credits"><a href="http://evil.che.lu/projects/skittlish">Skittlish</a> $[theme adapted by] <a href="http://solidgone.org/Skins/">David Gilbert</a>, $[powered by] <a href="http://pmwiki.com/">PmWiki</a></p>
		</div>
	</div>
<!--HTMLFooter-->
</body>
</html>
